<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Web, it's not fun</title>
    <style>
      html, body, #app {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      #app {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>WEB ITS NOT FUN</h1>
    </div>
  </body>
</html>
